* {
  font-family: "Prompt", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100vh;
  background-color: rgba(217, 217, 217, 0.44) !important;
}

html {
  overflow-y: scroll;
}

.w-vw {
  width: 100vw;
}

.header-container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  font-size: 24px;
  position: absolute;
  height: auto;
}

.logo {
  width: 150px;
  height: 150px;
  padding-left: 20px;
}

.nav-bar {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.all-list {
  display: flex;
  list-style-type: none;
}

.list {
  text-decoration: none;
  padding-right: 30px;
  color: white;
  font-weight: 400;
}

.list:hover {
  text-decoration: underline;
  color: white;
}

.active {
  text-decoration: underline;
}

.profile {
  margin-top: -20px;
}

.coverHome {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.logo-footer {
  width: 18vw;
  height: auto;
  margin: 15px 30px 0px 50px;
}

.caption {
  width: 250px;
  margin-left: 5.75vw;
  margin-top: -80px;
  line-height: 36px;
}

.position-title {
  top: 50%;
  left: 29vw;
}

.text-title {
  top: 40%;
  left: 15vw;
}

.bg-base {
  background-color: #203473;
}

.head-box {
  width: 100%;
  height: 125px;
}

.line {
  color: rgb(156, 150, 150);
  width: 92.5vw;
  margin-left: 80px;
}

.mt-150 {
  margin-top: 8vw;
}

.mt-180 {
  margin-top: 10vw;
}

.me-150 {
  margin-right: 200px;
}

.word {
  color: rgba(217, 217, 217, 0.5);
  padding-right: 1vw;
}

.fs-vw {
  font-size: 1.25vw;
}

.fs-1v {
  font-size: 1.5vw;
}

.fs-vw-footer {
  font-size: 2.8vw;
}

.add-btn {
  width: 150px;
  margin-left: -100px;
  font-size: 20px;
}

.logo-width {
  width: 50px;
}

.add-photo {
  font-size: 32px;
}

.copy-right {
  font-size: 1vw !important;
}

.w-350 {
  width: 350px;
}

.card-container {
  width: 350px;
  height: 350px;
  border-radius: 15px;
  background-color: white;
  justify-self: center;
  box-shadow: 15px 15px 8px #888888;
}

.card-container-menu {
  width: 350px;
  height: 350px;
  border-radius: 15px;
  background-color: white;
  justify-self: center;
  column-gap: 10px;
  row-gap: 15px;
}

.card-box {
  border-radius: 15px;
  background-color: white;
  padding: 10px 0px 0px 25px;
  height: 120px;
  box-shadow: 15px 15px 10px #888888;
}

.card-box-menu {
  width: 350px;
  border-radius: 0px 0px 15px 15px;
  background-color: white;
  padding: 20px 0px 0px 30px;
}

.card-img-top {
  width: 350px;
  height: 260px;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.card-img-menu {
  width: 350px;
  height: 260px;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.stars {
  cursor: pointer;
  transition: color 200ms;
}

.mb-15 {
  margin-bottom: 5px;
  line-height: 1.75;
}

.button-view {
  width: 200px;
  margin-left: 85vw;
  margin-top: 4rem !important;
  background-color: rgba(146, 187, 236, 0.3);
  border-style: none;
  color: rgba(20, 41, 235, 0.5);
  box-shadow: 5px 5px 8px rgba(14, 21, 88, 0.5);
}

.search {
  position: absolute;
  margin-top: -10.75vw;
  margin-left: 16.75vw;
  height: 80px;
  width: 70vw;
  font-size: 1.75vw;
}

.search-destination {
  color: rgba(0, 0, 0, 0.35);
  border: 1px solid black;
  border-radius: 10px;
  width: 14.5vw;
  height: 30px;
  font-size: 1.025vw;
}

.mt-8 {
  margin-top: 0.75vw;
}

.btn-search {
  width: 5.5vw;
  height: 2.25vw;
  border: none;
  font-size: 1.18vw;
  border-radius: 40px;
  color: white;
  background-color: #f3b619;
  margin-left: 15px;
  margin-bottom: 5px;
}

.background-login {
  width: 100%;
  height: 135vh;
  background-size: cover;
  background-image: url("./img/thailand.jpg");
  opacity: 60%;
}

.form {
  position: absolute;
  top: 200px;
  left: 21.75vw;
  width: 860px;
  height: 790px;
}

.form-forgot {
  position: absolute;
  top: 225px;
  left: 21.75vw;
  width: 800px;
  height: 500px;
}

.form-reset {
  position: absolute;
  top: 250px;
  left: 30.75vw;
  width: 40vw;
  height: 500px;
}

.form-size {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-150 {
  padding: 100px 150px 0px 150px;
}

.p-50 {
  padding: 0px 150px 100px 150px;
}

.p-forgot {
  padding: 100px 150px 50px 150px;
}

.p-reset {
  padding: 30px 0px;
}

.btn-login {
  border: none;
  font-size: 36px;
  height: 100px;
  text-align: center;
  flex-grow: 1;
}

.btn-signup {
  border: none;
  font-size: 36px;
  height: 100px;
  text-align: center;
  flex-grow: 1;
}

.active-form {
  background-color: white;
  font-size: 48px;
}

.btn-reset {
  background-color: #203473;
  color: white;
  font-weight: 400;
  font-size: 32px;
  border: #203473;
  border-radius: 14px;
  width: 420px;
  margin-top: 20px;
}

.btn-submit {
  background-color: #203473;
  color: white;
  font-weight: 400;
  font-size: 36px;
  border: #203473;
  border-radius: 14px;
  width: 420px;
  height: 72px;
}

.link-forgot {
  margin-top: -80px;
  margin-bottom: 30px;
  margin-left: 525px;
}

.img-pb {
  width: 75vw;
}

.p-name {
  padding: 40px 150px 60px 150px;
}

.p-email {
  padding: 0px 150px 100px 150px;
  margin-top: -20px;
}

.p-password {
  padding: 0px 150px 100px 150px;
  margin-top: -60px;
}

.p-confirmpassword {
  padding: 0px 150px 100px 150px;
  margin-top: -60px;
}

.btn-mt {
  margin-top: -70px;
  margin-left: 220px;
}

.w-mt {
  width: 100%;
  height: 100%;
  margin-bottom: -48px;
}

.h1-notfound {
  position: relative;
  top: 300px;
  left: 300px;
  font-size: 128px;
}

.card-img {
  width: 350px;
  height: 260px;
  border-radius: 14px;
}

.card-img-review {
  width: 22vw;
  height: 260px;
  border-radius: 14px;
}

.card-img-bl {
  width: 350px;
  height: 260px;
  border-radius: 14px;
}

.color-subtitle {
  color: #d9d9d9;
}

.mb-50 {
  margin-bottom: 50px;
}

.p-pagination {
  padding: 400px 0px 0px 450px;
}

.mt-280 {
  margin-top: -280px;
}

.fs-48 {
  font-size: 2vw;
}

.mb-25 {
  margin-bottom: 25px;
}

.ms-120 {
  margin-left: 120px;
}

.ms-p {
  margin-left: 350px;
}

.ms-250 {
  margin-left: 200px;
  margin-right: 150px;
}

.ms-90 {
  margin-left: 90px;
}

.ms-450 {
  margin-left: 37.5vw;
}

.me-15 {
  margin-right: 4vw;
}

.date-review {
  margin-top: -25px;
}

.container-menu {
  display: grid;
  grid-template-columns: 100px 40px 100px 40px;
  grid-template-rows: auto;
  gap: 30px 400px;
}

.container-place {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
  gap: 90px 100px;
}

.ms-275 {
  margin-left: 50px;
  margin-right: 50px;
}

.ms-all {
  margin-left: 50px;
  margin-right: 50px;
}

.img-review {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
}

.img-review-rest {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
}

.h-350 {
  height: 600px;
}

.h-250 {
  height: 250px;
}

.overflow-s {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.m-carousel-lt {
  margin-top: 1050px;
  margin-left: 500px;
}

.m-carousel-rt {
  margin-top: 1050px;
  margin-right: 500px;
}

.mb-45 {
  margin-bottom: -45px;
}

.ms-700 {
  margin-left: 900px;
}

.bg-lightgrey {
  background-color: rgba(217, 217, 217, 0.44);
}

.text-grey {
  color: rgba(0, 0, 0, 0.35);
}

.pt-65 {
  padding-top: 1.5vw;
}

.pt-66 {
  padding-top: 1.5vw;
}

.pt-70 {
  padding-top: 1.5vw;
}

.m-drop {
  margin-top: 10px;
  margin-left: -100px;
}

.title {
  height: 72px;
  font-size: 2.5vw !important;
  line-height: 60px !important;
}

.card-img-w {
  width: 200px;
  height: 200px;
  border-radius: 14px;
  margin: 24px auto 24px 16px;
}

.mb-54 {
  margin-bottom: 3rem;
}

.mt-minus-15 {
  margin-top: -15px;
}

.mt-minus-5 {
  margin-top: -3px;
}

.img-size {
  width: 120px;
  height: 100px;
}

.rounded-size {
  width: 90px;
  height: 30px;
}

.w-300 {
  width: 300px;
}

.side-size {
  width: 400px;
  height: 100%;
}

.side-layout {
  display: grid;
  grid-template-columns: 550px 1fr;
}

.pic-size {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.ms-44 {
  margin-left: 2.4rem;
}

.ms-43 {
  margin-left: 2rem;
}

.ms-46 {
  margin-left: 3.95rem;
}

.input-size {
  height: 50px;
  border-radius: 15px;
}

.h-500 {
  height: 800px;
}

.btn-group {
  position: absolute !important;
  top: 80%;
  left: 40%;
}

.top-80 {
  top: 80%;
}

.left-30 {
  left: 30%;
}

.left-35 {
  left: 35%;
}

.wh-50 {
  width: 50%;
}

.w-maps {
  width: 500px;
  height: 350px;
  margin: 15px;
}

.btn-cover {
  background-color: white;
  color: rgba(0, 0, 0, 0.35);
  border: none;
  transition-duration: 0.4s;
}

.btn-cover:hover {
  background-color: #1d4be1;
  color: white;
}

.fs-menu {
  font-size: 1.5rem;
}

.ps-35 {
  padding-left: 35px;
}

.bs-size {
  width: 50%;
}

.btn-post {
  width: 180px;
}

.position-place {
  margin-top: 300px;
  margin-left: 425px;
}

.position-add {
  margin-top: 500px;
  margin-left: 38vw;
}

.edit-blog-size {
  width: 1000px;
}

.wf-69 {
  width: 69vw !important;
}

.w-85 {
  width: 88%;
}

.w-70 {
  width: 30vw;
}

.w-bt {
  width: 50%;
}

.w-pass {
  width: 57.5vw;
  padding-left: 48px;
}

.w-line {
  width: 82%;
}

.ms-ep-5 {
  margin-left: 10px;
}

.area-about {
  width: 55vw;
}

.w-hr {
  width: 75%;
}

.wb-600 {
  width: 65vw;
}

.mt-search {
  margin-top: 0.5rem;
}

.w-blog {
  width: 100%;
}

.ms-edit {
  margin-left: 60vw;
}

.p-re {
  padding-left: 3rem;
}

.p-re-0 {
  padding-right: 3rem;
}

.mr-0 {
  margin-right: 0px !important;
}

.ma-25 {
  margin-top: 10px;
  margin-right: 30px !important;
}

.w-form-change {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 70%;
  margin-left: 50px;
  margin-bottom: 20px;
}

.ms-150 {
  margin-left: 120px;
}

.box-blog {
  margin-top: 15vw;
  margin-left: 21vw;
}

.like {
  flex-direction: column;
  margin-left: 0px;
}

.img-blog {
  width: 100%;
  height: 600px;
}

.w-box {
  width: 50vw;
}

.ms-clear {
  margin-left: 50px;
}

.p-le {
  padding-right: 2.5rem;
}

.score {
  margin-top: 2px;
}

.name-location {
  margin-top: 0.5rem;
  margin-right: 1.2rem;
}

.cut-word {
  width: 280px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reviews {
  margin-left: 20px;
}

.card-category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  column-gap: 100px;
  row-gap: 50px;
  margin: 0px 50px;
}

.p-message {
  padding: 250px 250px;
}

@media (max-width: 2000px) {
  .menu-none {
    display: none !important;
  }
}

@media (max-width: 1400px) {
  .position-title {
    top: 50%;
    left: 32.5%;
    font-size: 3.75vw !important;
  }
  .mr-p-80 {
    margin-right: 80px;
  }
  .menu-none {
    display: none !important;
  }
  .horizon-nav {
    display: flex;
  }
  .ds-none {
    display: none;
  }
  .form {
    left: 15.75vw;
    width: 70vw;
  }
  .form-forgot {
    left: 15.75vw;
    width: 70vw;
  }
  .position-add {
    margin-top: 300px;
    margin-left: 37vw;
  }
  .side-layout {
    grid-template-columns: 430px 1fr;
  }
  .w-pass {
    width: 55vw;
  }
  .w-line {
    width: 90%;
  }
  .ms-150 {
    margin-left: 120px;
  }
  .ms-ep-5 {
    margin-left: 45px;
  }
  .wf-69 {
    width: 92% !important;
  }
  .mt-15 {
    margin-top: 0.35rem;
  }
  .wb-600 {
    width: 57vw;
  }
  .img-review {
    gap: 50px 4vw;
  }
  .ms-700 {
    margin-left: 45.5vw;
  }
  .btn-mt {
    margin-left: 21vw;
  }
  .w-form-change {
    width: 50vw;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .box-blog {
    margin-left: 20vw;
  }
  .search-destination select {
    margin-top: 1.75px !important;
    width: 100%;
  }
  .ms-250 {
    margin-left: 150px;
  }
}

@media (max-width: 1280px) {
  .position-title {
    top: 50%;
    left: 20%;
  }
  .mr-p-80 {
    margin-right: 0px !important;
  }
  .ms-150 {
    margin-left: 100px;
  }
  .pic-size {
    width: 20vw;
    height: 20vw;
    border: 1px solid black;
  }
  .area-about {
    width: 50vw;
  }
  .wf-69 {
    width: 89% !important;
  }
  .ms-edit {
    margin-left: 50vw;
  }
  .card-img-review {
    width: 30vw;
  }
  .btn-mt {
    margin-left: 15vw;
  }
  .box-blog {
    margin-left: 12vw;
  }
  .destination {
    font-size: 1rem;
  }
  .btn-group {
    left: 33.2%;
  }
  .w-85 {
    width: 84%;
  }
}

@media (max-width: 992px) {
  .w-85 {
    width: 80%;
  }
  .p-150 {
    padding: 100px 100px 0px 100px;
  }
  .p-50 {
    padding: 0px 100px 100px 100px;
  }
  .link-forgot {
    margin-left: 40vw;
    font-size: 1.75vw;
  }
  .btn-submit {
    width: 40vw;
    height: 7.2vw;
  }
  .btn-login {
    font-size: 32px;
  }
  .btn-signup {
    font-size: 28px;
  }
  .like {
    flex-direction: column;
    margin-left: 0px;
  }
  .card-img {
    width: 45vw;
    height: 33vw;
  }
  .card-img-bl {
    width: 45vw;
  }
  .header {
    min-width: 100%;
  }
  .menu-none {
    display: none !important;
  }
  .horizon-nav {
    display: flex;
  }
  .search {
    width: 70%;
    height: 7.25vw;
    margin-left: 15.5vw;
    margin-top: -11.75vw;
  }
  .mt-8 {
    margin-top: 0px !important;
  }
  .coverHome {
    min-width: 100%;
  }
  .bg-base {
    width: 100%;
  }
  .mr-p-80 {
    margin-right: 50px !important;
  }
  .w-pass {
    width: 45vw !important;
    padding-left: 0px;
  }
  .w-line {
    width: 45vw !important;
  }
  .ms-150 {
    margin-left: -10px !important;
    margin-top: 20px !important;
  }
  .ms-ep-5 {
    margin-left: 40px;
  }
  .w-70 {
    width: 39.9vw;
  }
  .ms-0 {
    margin-left: 0px !important;
  }
  .ms-700 {
    margin-left: 42.5vw;
  }
  .fs-in {
    font-size: 12px !important;
  }
  .m-box {
    width: 95vw;
    margin-left: 1.75rem;
  }
  .wb-0 {
    width: 0% !important;
  }
  .fd-column {
    flex-direction: column;
  }
  .w-hr {
    width: 100%;
  }
  .position-place {
    margin-left: 30.5vw;
  }
  .position-add {
    margin-left: 31vw;
  }
  .ms-275 {
    margin-left: 0px;
  }
  .p-pagination {
    padding: 400px 0px 0px 180px;
  }
  .container-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    gap: 100px 175px;
  }
  .ms-250 {
    margin-left: 50px;
    margin-right: 40px;
  }
  .logo-width {
    width: 40px;
  }
  .caption {
    width: 150px;
    margin-left: 8.75vw;
    margin-top: -50px;
    line-height: 36px;
  }
  .w-follow {
    font-size: 2.7vw;
  }
  .card-container-menu {
    width: 36vw;
    height: 300px;
  }
  .card-box-menu {
    width: 36vw;
  }
  .card-img-menu {
    width: 36vw;
  }
  .card-box-menu span {
    font-size: 2.75vw !important;
  }
  .ms-100 {
    margin-left: 75px;
  }
  .pt-65 {
    padding-top: 3vw;
  }
  .pt-66 {
    padding-top: 3vw;
  }
  .pt-70 {
    padding-top: 2.75vw;
  }
  .button-view {
    margin-top: 9.75vw !important;
    margin-left: 75vw;
  }
  .copy-right {
    font-size: 1.2vw !important;
  }
  .wf-69 {
    width: 53% !important;
  }
  .area-about {
    width: 40vw;
  }
  .side-layout {
    grid-template-columns: 450px 520px;
  }
  .d-flex p {
    font-size: 16px !important;
  }
  .w-blog {
    width: 75%;
    margin-left: 0px !important;
  }
  .ms-edit {
    margin-left: 40vw;
  }
  .w-form-change {
    margin-left: 0px;
  }
  .box-blog {
    width: 30vw;
    margin-left: 9vw;
  }
  .descript {
    width: 50vw !important;
    padding-top: 15px;
  }
  .btn-group {
    left: 26.5%;
  }
  .box-direct {
    flex-direction: column;
  }
  .w-maps {
    width: 94.2%;
  }
}

@media (max-width: 768px) {
  .w-85 {
    width: 75%;
  }
  .form {
    height: 700px;
  }
  .p-name {
    padding: 40px 90px 60px 90px;
  }
  .p-email {
    padding: 0px 90px 100px 90px;
    margin-top: -20px;
  }
  .p-password {
    padding: 0px 90px 100px 90px;
    margin-top: -60px;
  }
  .p-confirmpassword {
    padding: 0px 90px 100px 90px;
    margin-top: -60px;
  }
  .p-150 {
    padding: 100px 80px 80px 80px;
  }
  .p-50 {
    padding: 0px 80px 130px 80px;
  }
  .mb-54 {
    margin-bottom: 0px !important;
  }
  .menu-none {
    display: block !important;
  }
  .horizon-nav {
    display: none !important;
  }
  .coverHome {
    width: 100vw;
    height: 80vh;
  }
  .title {
    font-size: 4.4vw !important;
    line-height: 60px !important;
  }
  .position-title {
    top: 35%;
    left: 15%;
  }
  .search {
    width: 75%;
    height: 7vw;
    margin-left: 11.5vw;
    margin-top: -10.75vw;
  }
  .position-place {
    margin-left: 27.5vw;
  }
  .position-add {
    margin-left: 20vw;
  }
  .caption {
    margin-top: -40px;
  }
  .ms-100 {
    margin-left: 95px;
  }
  .fs-vw {
    font-size: 1.55vw;
  }
  .ps-35 {
    padding-left: 12px;
  }
  .social-logo {
    flex-wrap: wrap;
    padding-left: 15px;
  }
  .box-logo {
    margin-top: 35px;
  }
  .button-view {
    margin-top: 15vw !important;
  }
  .ms-450 {
    margin-left: 24.5vw;
  }
  .destination {
    font-size: 2.5vw;
  }
  .pt-65 {
    padding-top: 3.5vw;
  }
  .pt-66 {
    padding-top: 4.5vw;
    font-size: 1.4vw !important;
  }
  .pt-70 {
    padding-top: 3.75vw;
  }
  .side-size {
    width: 40vw;
    height: 100%;
  }
  .side-layout {
    grid-template-columns: 44vw 50vw;
  }
  .p-left {
    padding-left: 30px;
  }
  .ms-ep-5 {
    margin-left: 10px;
  }
  .wd-450 {
    width: 90vw !important;
  }
  .ms-150 {
    margin-left: -150px !important;
    margin-top: 190px !important;
  }
  .w-blog {
    width: 90%;
  }
  .mt-180 {
    margin-top: 15vw;
  }
  .mt-150 {
    margin-top: 12vw;
  }
  .w-follow {
    font-size: 2.5vw;
  }
  .card-box-menu span {
    font-size: 2.5vw !important;
  }
  .card-img-review {
    width: 40vw;
  }
  .w-maps {
    width: 45.5vw;
    height: 35vw;
  }
  .form-reset {
    left: 24vw;
    width: 55vw;
  }
  .btn-reset {
    width: 25vw;
    margin-top: 20px;
  }
  .w-350 {
    width: 28vw;
  }
  .search-destination {
    height: 25px;
  }
  .h-500 {
    height: 500px;
  }
  .btn-group {
    left: 20%;
  }
  .card-img-top {
    width: 350px;
    height: 350px;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 15px !important;
  }
  .card-container {
    width: 100vw;
    height: 350px;
    margin: 0px 30px 30px 0px;
  }
  .card-box {
    display: inline-block;
    position: absolute;
    background-color: transparent;
    padding: 20px 0px 0px 20px;
    margin: 80px 10px;
  }
  .card-category {
    display: block !important;
    margin: 0px;
  }
  .button-view {
    margin-left: 70vw;
    margin-top: 1.75vw !important;
  }
  .name-location {
    font-size: 2.75vw;
  }
}

@media (max-width: 650px) {
  .w-85 {
    width: 70%;
  }
  .search {
    margin-top: -16.75vw;
    padding: 1.75vw 0px 1.95vw 0px;
  }
  .search-destination {
    width: 14.5vw;
    height: 3.5vw;
    font-size: 1.025vw;
    margin-top: 3px !important;
  }
  .btn-search {
    margin-bottom: 10px;
  }
  .name-location {
    font-size: 3.75vw;
  }
  .reviews {
    font-size: 2.75vw;
  }
  .card-img {
    width: 90vw;
    height: 70vw;
  }
  .box-content {
    display: block !important;
  }
  .descript {
    width: 56vw !important;
    padding-top: 15px;
  }
  .card-img-bl {
    width: 53vw;
  }
  .container-menu {
    display: grid;
    grid-template-columns: 250px 200px;
    grid-template-rows: auto;
    gap: 100px 175px;
  }
  .card-container-menu {
    width: 45vw;
  }
  .card-box-menu {
    width: 45vw;
  }
  .card-img-menu {
    width: 45vw;
  }
  .card-box-menu span {
    font-size: 3.75vw !important;
  }
  .pt-65 {
    padding-top: 4.5vw;
  }
  .pt-66 {
    padding-top: 5.2vw;
  }
  .mt-180 {
    margin-top: 18vw;
  }
  .logo-width {
    width: 25px;
  }
  .mt-150 {
    margin-top: 15vw;
  }
  .img-blog {
    height: 400px;
  }
  .h-350 {
    height: 400px;
  }
  .stars {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  .score {
    margin-top: 10px;
  }
  .container-place {
    display: block;
  }
  .ms-all {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 576px) {
  .score {
    display: block !important;
  }
  .img-blog {
    height: 270px;
  }
  .h-350 {
    height: 270px;
  }
  .w-85 {
    width: 65%;
  }
  .logo {
    width: 120px;
    height: 120px;
  }
  .p-name {
    padding: 40px 50px 60px 50px;
  }
  .p-email {
    padding: 0px 50px 100px 50px;
    margin-top: -15px;
  }
  .p-password {
    padding: 0px 50px 100px 50px;
    margin-top: -55px;
  }
  .p-confirmpassword {
    padding: 0px 50px 130px 50px;
    margin-top: -55px;
  }
  .p-150 {
    padding: 100px 50px 80px 50px;
  }
  .p-50 {
    padding: 0px 50px 90px 50px;
  }
  .mb-54 {
    margin-bottom: 1rem;
  }
  .link-forgot {
    margin-top: -60px;
  }
  .btn-submit {
    font-size: 20px !important;
  }
  .coverHome {
    width: 100vw;
    height: 100vw;
  }
  .title-place {
    font-size: 8vw;
  }
  .search {
    width: 90%;
    height: 8.75vw;
    margin-left: 6.5vw;
  }
  .search-destination {
    width: 14.5vw;
    height: 3.5vw;
    font-size: 1.5vw;
    margin-top: 5px !important;
  }
  .sm-search {
    margin-top: -10px !important;
    margin-left: 10px !important;
  }
  .fs-s {
    font-size: 0.95rem !important;
  }
  .bs-size {
    width: 100% !important;
  }
  .img-size {
    width: 28vw;
    height: 25vw;
  }
  .word {
    font-size: 2vw;
  }
  .mb-25 {
    margin-top: 90px;
    margin-bottom: 0px;
  }
  .rounded-size {
    width: 65px;
    height: 30px;
    font-size: 2.35vw;
    padding-top: 7.5px;
  }
  .fs-1v {
    font-size: 2vw;
  }
  .p-pagination {
    padding: 300px 0px 0px 125px;
  }
  .pic-size {
    width: 30vw;
    height: 30vw;
    border: 1px solid black;
  }
  .ms-ep-5 {
    margin-left: 45px;
  }
  .ms-150 {
    margin-left: -100px !important;
    margin-top: 185px !important;
  }
  .p-left {
    padding-left: 0px;
  }
  .d-flex h4 {
    font-size: 14px !important;
  }
  .ms-clear {
    margin-left: 50px;
  }
  .btn-img {
    width: 100px;
  }
  .destination {
    font-size: 2vw;
  }
  .password {
    font-size: 12px !important;
  }
  .ms-5 {
    margin-left: 0rem !important;
  }
  .ms-3 {
    margin-left: 0% !important;
  }
  .ms-44 {
    margin-left: 0%;
  }
  .wh-50 {
    height: 30%;
  }
  .search-destination i {
    margin-top: 2.5px !important;
  }
  .btn-search {
    width: 6.5vw;
    height: 2.85vw;
    font-size: 1.5vw;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 0px !important;
  }
  .card-img-top {
    width: 65vw;
    height: 80vw;
  }
  .card-container {
    width: 100vw;
    height: 80vw;
    margin: 0px 0px 30px;
  }
  .card-box {
    width: 30vw;
    padding: 0px 10px;
    margin: 90px 10px;
  }
  .card-all {
    display: grid;
    position: relative;
    background-color: transparent;
    padding: 20px 0px 0px 20px;
    margin: auto;
    top: -250px;
    left: 320px;
  }
  .button-view {
    margin-left: 60vw;
    margin-top: 1.75vw !important;
  }
  .reviews {
    font-size: 2.5vw;
  }
  .card-img {
    width: 90vw;
    height: 70vw;
  }
  .header {
    min-width: 100%;
    font-size: 2.7vw;
  }
  .card-container-menu,
  .card-box-menu,
  .card-img-menu {
    width: 60vw;
  }
  .card-box-menu span {
    font-size: 3.75vw !important;
  }
  .menu-none {
    display: flex;
  }
  .horizon-nav {
    display: none !important;
  }
  .pt-65 {
    padding-top: 5.5vw;
    padding-left: 0px !important;
  }
  .pt-66 {
    padding: 7vw 0px 0px 1.5vw;
  }
  .pt-70 {
    padding-top: 5.5vw;
  }
  .fs-name {
    font-size: 3vw;
  }
  .ms-90 {
    margin-left: 50px;
  }
  .date-review {
    margin-top: -10px;
  }
  .profile {
    width: 150px !important;
    height: 150px !important;
  }
  .title {
    font-size: 4.5vw !important;
    line-height: 0px !important;
  }
  .position-title {
    top: 30%;
  }
  .wifi {
    font-size: 3.5vw;
  }
  .parking {
    font-size: 3.5vw;
  }
  .reserve {
    font-size: 3.5vw;
  }
  .ms-450 {
    margin-left: 22.75vw;
  }
  .fs-48 {
    font-size: 4vw;
  }
  .me-15 {
    margin-right: 3vw;
  }
  .bg-base {
    width: 100%;
  }
  .position-place {
    margin-left: 19vw;
  }
  .position-add {
    margin-top: 200px;
    margin-left: 18vw;
  }
  .add-photo {
    font-size: 5vw;
  }
  .h-350 {
    height: 250px;
  }
  .caption {
    width: 90px;
    margin-left: 12.75vw;
    margin-top: -25px;
    line-height: 24px;
  }
  .mt-180 {
    margin-top: 25vw;
  }
  .mt-150 {
    margin-top: 20vw;
  }
  .line {
    width: 85vw;
    margin-left: 50px;
  }
  .fs-vw {
    font-size: 1.75vw;
  }
  .logo-width {
    width: 4.8vw !important;
  }
  .w-follow {
    font-size: 3.15vw;
  }
  .logo-footer {
    width: 25vw;
    height: auto;
    margin: 35px 30px 0px 50px;
  }
  .w-bt {
    width: 90vw !important;
  }
  .card-img-bl {
    height: 50vw;
  }
  .fs-vw-footer {
    margin-left: -1px;
  }
  .card-img-review {
    width: 40vw;
    height: 50vw;
  }
  .img-review {
    gap: 0vw 0vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr;
  }
  .p-re {
    padding-left: 2.5rem !important;
  }
  .p-re-0 {
    padding-right: 0px !important;
  }
  .pr-0 {
    padding-right: 0px !important;
  }
  .m-drop {
    margin-top: 0px;
    margin-left: -60px;
  }
  .ma-25 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px !important;
  }
  .m-box {
    width: 96.5vw;
    margin-left: 0.75rem;
  }
  .w-300 {
    width: 200px;
  }
  .mr-15 {
    margin-right: 15px;
  }
  .form-reset {
    left: 0vw;
    width: 100vw;
  }
  .btn-reset {
    width: 35vw;
  }
  .h-500 {
    height: 300px;
  }
  .btn-group {
    top: 70%;
    left: 15%;
  }
  .ms-p {
    margin-left: 25px;
  }
}

@media (max-width: 350px) {
  .card-container-menu,
  .card-box-menu,
  .card-img-menu {
    width: 80vw;
  }
  .fs-s {
    font-size: 0.55rem !important;
  }
  .search-destination {
    width: 20vw;
    margin-top: 4px !important;
  }
  .btn-search {
    margin-left: 5px;
    margin-bottom: 10px;
  }
  .mt-search {
    margin-top: 2px;
  }
  .position-title {
    top: 15%;
  }
  .search-destination select {
    margin-top: 0.5px !important;
  }
  .des-x {
    padding-right: 0.5rem !important;
  }
  .cate-x {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  .social-logo {
    padding-left: 5px;
  }
  .logo-width {
    width: 5vw !important;
  }
  .d-flex p {
    font-size: 10px !important;
  }
  .mt-180 {
    margin-top: 35vw;
  }
  .fs-vw-footer {
    margin-left: -5px;
  }
  .logo-width {
    width: 4vw !important;
  }
  .mt-150 {
    margin-top: 28vw;
  }
  .w-follow {
    font-size: 3.15vw;
  }
  i + span {
    font-size: 12px !important;
  }
  .stars {
    font-size: 5vw;
  }
  .card-box {
    margin: 20px 10px;
  }
}
